@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-family: "Inter", sans-serif;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.text-h1 {
  font-size: 46px;
  line-height: 50px;
  font-weight: bold;
}
.text-h2 {
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
}
.text-h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}
.text-h4 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
}
.text-h5 {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
}
.text-h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.text-p1 {
  font-size: 18px;
  line-height: 28px;
}
.text-p2 {
  font-size: 18px;
  line-height: 22px;
}
.text-p3 {
  font-size: 16px;
  line-height: 24px;
}
.text-p4 {
  font-size: 16px;
  line-height: 20px;
}
.text-p5 {
  font-size: 14px;
  line-height: 20px;
}
.text-p6 {
  font-size: 12px;
  line-height: 16px;
}
.text-p7 {
  font-size: 10px;
  line-height: 14px;
}

.btn_blue {
  background: #326BFF;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 500;
  color: #FFFFFF;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.btn_blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: transparent;
}
.btn_blue:hover::before {
  background: rgba(0, 0, 0, 0.1);
}
.btn_blue:active::before {
  background: rgba(0, 0, 0, 0.2);
}
.btn_blue.disabled {
  pointer-events: none;
  background: rgba(44, 44, 44, 0.65);
  color: rgba(44, 44, 44, 0.65);
}
.btn_red {
  background: #F83C3C;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  width: 100%;
}
.btn_light {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 10px;
  height: 40px;
  background: #FFFFFF;
  transition: 0.3s ease all;
}
.btn_light:hover {
  background: rgba(44, 44, 44, 0.05);
}
.btn_light:active {
  background: rgba(44, 44, 44, 0.15);
  border-color: transparent;
}
.btn_light:disabled {
  background: #FFFFFF;
  border-color: rgba(44, 44, 44, 0.15);
  color: rgba(44, 44, 44, 0.65);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn_light:disabled svg path {
  fill: rgba(44, 44, 44, 0.65);
}

.inp_light {
  background: rgba(44, 44, 44, 0.05);
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.inp_light:hover {
  border-color: rgba(44, 44, 44, 0.15);
}
.inp_light:focus {
  background: #FFFFFF;
  border-color: #326BFF;
  box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
}
.inp_light.error {
  border-color: #F83C3C;
  box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
}
.inp_light[type=password]::-moz-placeholder {
  text-security: disc;
  -webkit-text-security: disc;
  font-size: 30px;
  color: #000000;
  line-height: 0;
  transform: translateY(7px);
  letter-spacing: 10px;
}
.inp_light[type=password]::placeholder {
  text-security: disc;
  -webkit-text-security: disc;
  font-size: 30px;
  color: #000000;
  line-height: 0;
  transform: translateY(7px);
  letter-spacing: 10px;
}

.form_inp {
  display: flex;
  flex-direction: column;
}
.form_inp label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(44, 44, 44, 0.65);
}
.form_inp label span {
  color: #F83C3C;
}
.form_inp input {
  width: 100%;
  height: 40px;
  background: rgba(44, 44, 44, 0.05);
  border-radius: 10px;
  margin: 6px 0 2px;
  border: 1px solid transparent;
  transition: 0.3s ease all;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 14px;
}
.form_inp input:hover {
  border-color: rgba(44, 44, 44, 0.15);
}
.form_inp input:focus {
  border-color: #326BFF;
  box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
  background: #FFFFFF;
}
.form_inp .error_text {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #F83C3C;
  display: none;
}
.form_inp.error input {
  border-color: #F83C3C;
  box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
}
.form_inp.error .error_text {
  display: block;
}
.form_radio {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form_text {
  display: flex;
  flex-direction: column;
}
.form_text label {
  margin-bottom: 8px;
}
.form_text img {
  width: 100%;
}
.form_text textarea {
  width: 100%;
  height: 177px;
  resize: none;
  background: rgba(44, 44, 44, 0.05);
  padding: 12px 14px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  transition: 0.3s ease all;
  border: 1px solid rgba(44, 44, 44, 0.05);
}
.form_text textarea:hover {
  border-color: rgba(44, 44, 44, 0.15);
}
.form_text textarea:focus {
  border-color: #326BFF;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
}

.checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.checkbox__icon {
  width: 18px;
  height: 18px;
  background: rgba(44, 44, 44, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.3s ease all;
}
.checkbox__icon img {
  opacity: 0;
  transition: 0.3s ease all;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox:hover .checkbox__icon {
  background: rgba(44, 44, 44, 0.15);
}
.checkbox.active .checkbox__icon {
  background: #326BFF;
}
.checkbox.active .checkbox__icon img {
  opacity: 1;
}
.checkbox-1 .icon {
  width: 42px;
  height: 26px;
  border-radius: 50px;
  background: rgba(44, 44, 44, 0.05);
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
  cursor: pointer;
}
.checkbox-1 .icon span {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.3s ease all;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.checkbox-1 input {
  display: none;
}
.checkbox-1 input:checked ~ .icon {
  background: #326BFF;
}
.checkbox-1 input:checked ~ .icon span {
  left: 18px;
}
.checkbox-1.disabled {
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.dropdown {
  position: relative;
}
.dropdown_inp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 40px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease all;
}
.dropdown_inp input {
  border-radius: 10px;
  background: rgba(44, 44, 44, 0.05);
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
  padding-left: 14px;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s ease all;
}
.dropdown_inp button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 28px;
  padding-left: 15px;
  border-left: 1px solid rgba(44, 44, 44, 0.15);
}
.dropdown_inp:hover input {
  border-color: rgba(44, 44, 44, 0.15);
}
.dropdown_list {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 12px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 178px;
  overflow-y: scroll;
  display: none;
}
.dropdown_list::-webkit-scrollbar {
  width: 6px;
}
.dropdown_list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.dropdown_list::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.15);
  border-radius: 10px;
}
.dropdown_list__item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.dropdown_list__item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.dropdown_list__item:active {
  background: rgba(44, 44, 44, 0.15);
}
.dropdown_list__item.checked {
  background: rgba(50, 108, 255, 0.1);
}
.dropdown_list__item.checked:active {
  background: rgba(50, 108, 255, 0.15);
}
.dropdown_list__item.checked:active {
  background: rgba(50, 108, 255, 0.2);
}
.dropdown.error .dropdown_inp {
  border-color: #F83C3C;
  box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
}
.dropdown.active {
  z-index: 2;
}
.dropdown.active .dropdown_inp input {
  background: #FFFFFF;
  border-color: #326BFF;
}
@keyframes dropdownActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown.active .dropdown_list {
  display: flex;
  animation: 0.2s dropdownActive linear 1;
}
.dropdown.end-active {
  z-index: 2;
}
@keyframes dropdownEndActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.dropdown.end-active .dropdown_list {
  display: flex;
  opacity: 0;
  animation: 0.2s dropdownEndActive linear 1;
}
.dropdown_radio {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.dropdown_radio__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}
.dropdown_radio__item input {
  display: none;
}
.dropdown_radio__item .icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  background: rgba(44, 44, 44, 0.05);
  border-radius: 50%;
  position: relative;
}
.dropdown_radio__item .icon::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #326BFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.dropdown_radio__item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.dropdown_radio__item:active {
  background: rgba(44, 44, 44, 0.15);
}
.dropdown_radio__item.checked {
  background: rgba(50, 108, 255, 0.1);
}
.dropdown_radio__item.checked:hover {
  background: rgba(50, 108, 255, 0.15);
}
.dropdown_radio__item.checked:active {
  background: rgba(50, 108, 255, 0.2);
}
.dropdown_radio__item.checked span {
  border: 2px solid #326BFF;
}
.dropdown_radio__item.checked span::before {
  display: block;
}

.search {
  width: 417px;
  position: relative;
}
.search_inp {
  position: relative;
  z-index: 1;
  background: rgba(44, 44, 44, 0.05);
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.search_inp .icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.search_inp input {
  height: 40px;
  padding: 0px 10px 0px 40px;
  width: 100%;
}
.search_inp:hover {
  border-color: rgba(44, 44, 44, 0.15);
}
.search_result {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
  display: none;
}
.search_result__settings {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}
.search_result__settings li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_result__dropdowns {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}
.search .btn_blue {
  width: 100%;
  font-weight: 600;
}
.search.active .search_inp {
  background: #FFFFFF;
  border-color: #326BFF;
  box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
}
@keyframes searchResult {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search.active .search_result {
  display: block;
  animation: 0.2s searchResult linear 1;
}
@keyframes searchResultEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.search.end-active .search_result {
  display: block;
  opacity: 0;
  animation: 0.2s searchResultEnd linear 1;
}

.data__empty {
  height: calc(100svh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .data__empty {
    height: 100%;
  }
}
.data__empty img {
  width: 126px;
}
.data__empty p {
  color: rgba(44, 44, 44, 0.65);
  font-weight: 600;
}

.nav_head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(44, 44, 44, 0.15);
}
@media screen and (min-width: 992px) {
  .nav_head {
    display: none !important;
  }
}
.nav_head a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid rgba(44, 44, 44, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: #FFFFFF;
  padding: 0px 16px;
}
@media screen and (max-width: 992px) {
  .nav_foot {
    height: 73px;
  }
}
.nav_foot button {
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .nav_foot button {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid rgba(44, 44, 44, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 3;
  background: #FFFFFF;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__account {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__account .logo_icon {
  width: 34px;
  flex-shrink: 0;
}
.header__account_text {
  display: flex;
  flex-direction: column;
  width: 152px;
  flex-shrink: 0;
}
.header__account_text p:nth-child(1) {
  font-weight: 500;
}
.header__account_text p:nth-child(2) {
  color: rgba(44, 44, 44, 0.65);
}
.header__account_dropdown {
  flex-shrink: 0;
  position: relative;
}
.header__account_dropdown__btn {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__account_dropdown__list {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, 100%);
  border: 1px solid rgba(44, 44, 44, 0.15);
  background: #FFFFFF;
  border-radius: 12px;
  padding: 6px;
  width: 209px;
  box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
  display: none;
}
.header__account_dropdown__list .before_icon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  width: 12px;
}
.header__account_dropdown__list .line {
  height: 1px;
  width: 100%;
  background: rgba(44, 44, 44, 0.05);
  margin: 2px 0;
}
@keyframes accountDropdownActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__account_dropdown__list.active {
  display: block;
  animation: 0.2s accountDropdownActive linear 1;
}
@keyframes accountDropdownEndActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header__account_dropdown__list.end-active {
  display: block;
  opacity: 0;
  animation: 0.2s accountDropdownEndActive linear 1;
}
.header__account_dropdown .dropdown_close {
  width: 100%;
  height: 40px;
  color: #F83C3C;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s ease all;
}
.header__account_dropdown .dropdown_close:hover {
  background: rgba(44, 44, 44, 0.05);
}
.header__account_dropdown .dropdown_close:active {
  background: rgba(44, 44, 44, 0.15);
}
.header__navs {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header__navs a {
  font-weight: 600;
  padding: 7px 12px;
}
.header__navs.auth__navs a:not(.active) {
  color: rgba(44, 44, 44, 0.65);
  transition: 0.3s ease all;
}
.header__navs.auth__navs a:not(.active):hover {
  color: #000000;
}

.left_nav {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 72px;
  width: 260px;
  height: calc(100svh - 112px);
  padding: 0px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
}
.left_nav__title {
  font-weight: 600;
  color: rgba(44, 44, 44, 0.65);
  padding: 16px 0px 12px;
}
.left_nav__links {
  position: absolute;
  left: 20px;
  top: 48px;
  width: calc(100% - 30px);
  max-height: calc(100% - 185px);
  overflow-y: scroll;
}
.left_nav__links::-webkit-scrollbar {
  display: none;
}
.left_nav ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.left_nav ul a {
  padding: 10px 14px 10px 10px;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
}
.left_nav ul a:hover {
  background: rgba(44, 44, 44, 0.05);
}
.left_nav ul a:active {
  background: rgba(44, 44, 44, 0.15);
}
.left_nav ul a.active {
  background: rgba(50, 108, 255, 0.1);
}
.left_nav ul a.active:hover {
  background: rgba(50, 108, 255, 0.15);
}
.left_nav ul a.active:active {
  background: rgba(50, 108, 255, 0.2);
}
.left_nav ul a img {
  flex-shrink: 0;
}
.left_nav ul a span:not(.icon) {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left_nav ul a .icon {
  position: absolute;
  font-weight: 600;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(44, 44, 44, 0.05);
  padding: 2px 6px;
  border-radius: 10px;
}
.left_nav ul a .icon::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #FFB800;
  border-radius: 50%;
}
.left_nav__child {
  padding-left: 20px;
}
.left_nav .btn_blue {
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  height: 40px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid rgba(44, 44, 44, 0.15);
}
.footer__left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__left .progress {
  width: 115px;
  border-radius: 6px;
  height: 6px;
  overflow: hidden;
  background: rgba(44, 44, 44, 0.15);
}
.footer__left .progress span {
  display: block;
  height: 6px;
  width: 20%;
  background: #000000;
  border-radius: 4px;
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 43px;
}
.footer__messages {
  color: rgba(44, 44, 44, 0.65);
}
.footer__msg_pagination {
  display: flex;
  align-items: center;
  gap: 4px;
}
.footer__msg_pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
.footer__msg_pagination button svg path, .footer__msg_pagination button svg line {
  stroke: #000000;
}
.footer__msg_pagination button:disabled {
  cursor: default;
}
.footer__msg_pagination button:disabled svg path, .footer__msg_pagination button:disabled svg line {
  stroke: rgba(44, 44, 44, 0.65);
}
.home {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 576px) {
  .home {
    background: #FFFFFF;
    z-index: 3;
  }
}
.home__content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .home .login__content {
    width: calc(100% - 32px);
    transform: translateY(-52px);
  }
}
.home__animation {
  width: 179px;
}
.home__link {
  margin: 30px 0 20px;
}
.home__description {
  color: rgba(44, 44, 44, 0.65);
}
.home__form {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.home__form .form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.home__form label {
  color: rgba(44, 44, 44, 0.65);
}
.home__form button {
  margin-top: 6px;
}
.home .mobile_link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 16px 19px;
  border-top: 1px solid rgba(44, 44, 44, 0.15);
}
@media screen and (min-width: 576px) {
  .home .mobile_link {
    display: none !important;
  }
}
.home .mobile_link a {
  width: 100%;
}

.inbox {
  padding: 72px 20px 40px 260px;
}
.inbox__nav {
  height: 48px;
  position: fixed;
  top: 72px;
  left: 260px;
  width: calc(100% - 260px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  background: #FFFFFF;
  z-index: 2;
}
.inbox__nav_left {
  display: flex;
  align-items: center;
  gap: 26px;
}
.inbox__nav_right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.inbox__nav_link {
  display: flex;
  align-items: center;
  gap: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.inbox__nav_link__icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inbox__nav_link__text {
  color: rgba(44, 44, 44, 0.65);
  font-weight: 600;
}
.inbox__nav .checkbox {
  font-weight: 600;
}
.inbox__nav .mark_list {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 220px;
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 12px;
  display: none;
  flex-direction: column;
  gap: 2px;
  padding: 6px;
}
.inbox__nav .mark_list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  transform: translateY(-100%);
  background: transparent;
}
.inbox__nav .mark_list__icon {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.inbox__nav .mark_list__link {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.inbox__nav .mark_list__link .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inbox__nav .mark_list__wrap {
  position: relative;
}
.inbox__nav .mark_list__wrap:hover .mark_list {
  display: flex;
}
.inbox__nav_more {
  position: relative;
}
.inbox__nav_more .more_btn {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
}
.inbox__nav_more .more_list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.inbox__nav_more .more_list__wrap {
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 100%);
  width: 180px;
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
  display: none;
}
.inbox__nav_more .more_list__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-6px);
  width: 100%;
  height: 6px;
  background: transparent;
}
.inbox__nav_more .more_list__wrap .top-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.inbox__nav_more .more_list__link {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: rgba(44, 44, 44, 0.65);
  border-radius: 8px;
}
.inbox__nav_more .more_list__link span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inbox__nav_more .more_list__item {
  position: relative;
}
.inbox__nav_more .more_list__item:hover .more_list__link {
  background: rgba(44, 44, 44, 0.05);
}
.inbox__nav_more .more_list__item:hover .more_child {
  display: block;
}
.inbox__nav_more .more_child {
  position: absolute;
  right: -8px;
  top: 0;
  width: 220px;
  transform: translateX(100%);
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
  padding: 6px;
  display: none;
}
.inbox__nav_more .more_child::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 8px;
  height: 100%;
  background: transparent;
}
.inbox__nav_more .more_child__link {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
}
.inbox__nav_more .more_child__link span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.inbox__nav_more .more_child__link:hover {
  background: rgba(44, 44, 44, 0.05);
}
.inbox__nav_more:hover .more_list__wrap {
  display: block;
}
.inbox__nav .nav_dropdown {
  position: relative;
}
.inbox__nav .nav_dropdown__btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.inbox__nav .nav_dropdown__btn .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inbox__nav .nav_dropdown__list {
  position: absolute;
  width: 180px;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, 100%);
  background: #FFFFFF;
  border: 1px solid rgba(44, 44, 44, 0.15);
  box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
  border-radius: 12px;
  padding: 6px;
  display: none;
  flex-direction: column;
  gap: 2px;
}
.inbox__nav .nav_dropdown__list::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 100%;
  height: 6px;
  background: transparent;
}
.inbox__nav .nav_dropdown__list_icon {
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translate(-50%, -100%);
}
.inbox__nav .nav_dropdown__list_link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 10px;
}
.inbox__nav .nav_dropdown__list_link .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inbox__nav .nav_dropdown:hover .nav_dropdown__list {
  display: flex;
}
.inbox__nav .nav_dropdown.sort .nav_dropdown__list {
  left: auto;
  right: 0;
  transform: translate(0, 100%);
}
.inbox__nav .nav_dropdown.sort .nav_dropdown__list_icon {
  left: auto;
  right: 49px;
  transform: translate(0, -100%);
}
.inbox__empty {
  min-height: calc(100svh - 112px);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.inbox__empty img {
  width: 236px;
}
.inbox__empty p {
  color: rgba(44, 44, 44, 0.65);
}
.inbox .msg_list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.inbox .msg_item {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 10px;
  height: 38px;
  transition: 0.3s ease all;
}
.inbox .msg_item__name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  flex-shrink: 0;
}
.inbox .msg_item__name .checkbox {
  flex-shrink: 0;
}
.inbox .msg_item__name p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inbox .msg_item__body {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.inbox .msg_item__body .unread_icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(44, 44, 44, 0.05);
  flex-shrink: 0;
  transition: 0.3s ease all;
  cursor: pointer;
}
.inbox .msg_item__body .unread_icon:hover {
  background: rgba(44, 44, 44, 0.15);
}
.inbox .msg_item__body .unread_icon input {
  display: none;
}
.inbox .msg_item__body .mark_icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inbox .msg_item__body .mark_icon svg {
  transform: translateY(2px);
}
.inbox .msg_item__body .mark_icon svg path {
  fill: rgba(44, 44, 44, 0.05);
  fill-opacity: 1;
  transition: 0.3s ease all;
}
.inbox .msg_item__body .mark_icon input {
  display: none;
}
.inbox .msg_item__body .mark_icon:hover svg path {
  fill: rgba(44, 44, 44, 0.15);
}
.inbox .msg_item__body .mark_icon input:checked + svg path {
  fill: #F83C3C;
}
.inbox .msg_item__body a {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.inbox .msg_item__body a .title {
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 340px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inbox .msg_item__body a .description {
  flex: 1;
  color: rgba(44, 44, 44, 0.65);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inbox .msg_item__date {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgba(44, 44, 44, 0.65);
}
.inbox .msg_item__date .icon {
  display: none;
}
.inbox .msg_item__date .icon.active {
  display: block;
}
.inbox .msg_item.unread .msg_item__name p {
  font-weight: 600;
}
.inbox .msg_item.unread .msg_item__body .unread_icon {
  background: #FFB800;
}
.inbox .msg_item.unread .msg_item__body a .title {
  font-weight: 600;
}
.inbox .msg_item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.inbox .msg_item.selected {
  background: rgba(50, 108, 255, 0.05);
}
.inbox .msg_item.selected:hover {
  background: rgba(50, 108, 255, 0.15);
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.65);
}
.modal__content {
  background: #FFFFFF;
  width: 356px;
  position: relative;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .modal__content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.modal__close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  position: absolute;
  top: 0;
  right: -50px;
}
.modal__close svg {
  display: none;
}
@media screen and (max-width: 768px) {
  .modal__close {
    right: auto;
    left: 0;
    top: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 0;
    background: transparent;
  }
  .modal__close img {
    display: none;
  }
  .modal__close svg {
    display: block;
  }
}
.modal__delete {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F83C3C;
  position: absolute;
  right: -50px;
  top: 50px;
}
@media screen and (max-width: 768px) {
  .modal__delete {
    right: 0;
    top: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 0;
    background: transparent;
  }
  .modal__delete svg path {
    fill: #F83C3C;
  }
}
.modal__head {
  text-align: center;
  border-bottom: 1px solid rgba(44, 44, 44, 0.15);
  padding: 20px 0 16px;
}
@media screen and (max-width: 768px) {
  .modal__head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 20px 0;
    height: 60px;
  }
  .modal__head h2 {
    font-size: 16px;
    line-height: 20px;
  }
}
.modal__body {
  padding: 20px;
  max-height: calc(100svh - 330px);
  overflow-y: scroll;
}
.modal__body::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .modal__body {
    padding-top: 74px;
    max-height: calc(100svh - 74px);
    overflow-y: scroll;
  }
  .modal__body::-webkit-scrollbar {
    display: none;
  }
}
.modal__foot {
  padding: 20px;
  border-top: 1px solid rgba(44, 44, 44, 0.15);
}
@media screen and (max-width: 768px) {
  .modal__foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px 16px 19px;
    background-color: #FFFFFF;
  }
}
.modal__foot button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  @keyframes modalActive {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .modal.active {
    display: flex;
    animation: modalActive 0.2s linear 1;
  }
  @keyframes modalEndActive {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .modal.end-active {
    display: flex;
    opacity: 0;
    animation: modalEndActive 0.2s linear 1;
  }
}
@media screen and (max-width: 768px) {
  @keyframes modalActive {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .modal.active {
    display: flex;
    animation: modalActive 0.2s linear 1;
  }
  @keyframes modalEndActive {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 1;
    }
  }
  .modal.end-active {
    display: flex;
    opacity: 0;
    animation: modalEndActive 0.2s linear 1;
  }
}

.modal_delete .modal__body {
  color: rgba(44, 44, 44, 0.65);
}

.preference {
  padding: 82px 10px 80px 290px;
}
.preference__nav {
  position: fixed;
  z-index: 2;
  top: 82px;
  left: 10px;
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.preference__nav a {
  padding: 10px 10px 10px 14px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  transition: 0.3s ease all;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.preference__nav a:hover {
  background: rgba(44, 44, 44, 0.05);
}
.preference__nav a.active {
  background: rgba(44, 44, 44, 0.05);
}
@media screen and (max-width: 992px) {
  .preference__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #FFFFFF;
    min-height: 100svh;
  }
}
.preference__title {
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .preference__title {
    padding-top: 0;
    border-bottom: 1px solid rgba(44, 44, 44, 0.15);
    margin-bottom: 0;
  }
}
.preference__title h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .preference__title h2 {
    text-align: center;
    padding: 20px 0;
    height: 60px;
  }
}
.preference__title a {
  display: none;
}
@media screen and (max-width: 992px) {
  .preference__title a {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
.preference__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 20px;
}
@media screen and (max-width: 992px) {
  .preference__content {
    max-width: 100%;
    padding: 16px;
    height: calc(100svh - 60px - 73px);
    overflow-y: scroll;
  }
  .preference__content::-webkit-scrollbar {
    display: none;
  }
}
.preference__content .form_control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  .preference__content .form_control {
    max-width: 100%;
  }
}
.preference__content .form_control label {
  color: rgba(44, 44, 44, 0.65);
}
.preference__content .radio_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.preference__content h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.preference__foot {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(44, 44, 44, 0.15);
  background: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .preference__foot {
    z-index: 3;
    height: 73px;
    padding: 0 16px;
  }
}
.preference__foot button {
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .preference__foot button {
    width: 100%;
  }
}

.contact {
  background: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .contact {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 3;
    height: calc(100svh - 133px);
    overflow-y: scroll;
  }
  .contact::-webkit-scrollbar {
    display: none;
  }
}
.contact__list {
  padding: 82px 10px 90px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media screen and (min-width: 992px) {
  .contact__list {
    min-height: 100svh;
  }
}
@media screen and (max-width: 992px) {
  .contact__list {
    padding: 0px 10px;
  }
}
.contact__list button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease all;
  gap: 10px;
}
.contact__list button:hover {
  background: rgba(44, 44, 44, 0.05);
}
.contact__list button .text_left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(44, 44, 44, 0.65);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}
.contact__list button .text_left b {
  font-weight: 600;
  color: #000000;
}
.contact_add .modal__body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contact_delete .modal__body {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact_delete .modal__body p {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
}

.folders {
  padding: 82px 10px 90px;
}
@media screen and (max-width: 992px) {
  .folders {
    position: fixed;
    z-index: 3;
    background: #FFFFFF;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    height: 100svh;
  }
}
.folders__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media screen and (max-width: 992px) {
  .folders__list {
    height: 100svh;
    overflow-y: scroll;
    padding: 66px 6px 80px;
  }
  .folders__list::-webkit-scrollbar {
    display: none;
  }
}
.folders__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 40px;
  min-height: 40px;
  border-radius: 8px;
  transition: 0.3s ease all;
  padding: 0 10px 0 14px;
}
.folders__item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.folders__item button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.folders__item button span {
  width: 100%;
}
.folders__item button img {
  flex-shrink: 0;
}
.folders__accordion_head .checkbox-1 {
  flex-shrink: 0;
}
.folders__accordion_head button:not(.active) img {
  transform: rotateZ(180deg);
}
.folders__accordion_body {
  padding: 2px 0 2px 20px;
}
.folders__accordion_body:not(.active) {
  display: none !important;
}
.folders__child_accordion__btn:not(.active) img {
  transform: rotateZ(180deg);
}
.folders__child_accordion__body {
  padding: 2px 0 2px 20px;
}
.folders__child_accordion__body:not(.active) {
  display: none !important;
}
.folders_add .modal__body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.folders_add .modal__body .dropdown {
  z-index: 2;
}
.folders_add .modal__body .form_dropdown label {
  color: rgba(44, 44, 44, 0.65);
  margin-bottom: 6px;
}
.folders_edit .modal__body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.folders_edit .modal__body .dropdown {
  z-index: 2;
}
.folders_edit .modal__body .form_dropdown {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.folders_edit .modal__body .form_dropdown label {
  color: rgba(44, 44, 44, 0.65);
}
.folders_delete .modal__body {
  text-align: center;
  color: rgba(44, 44, 44, 0.65);
}

@media screen and (max-width: 992px) {
  .indentities {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: #FFFFFF;
    z-index: 3;
  }
}
.indentities__list {
  min-height: 100svh;
  padding: 82px 10px 90px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media screen and (max-width: 992px) {
  .indentities__list {
    height: 100svh;
    overflow-y: scroll;
    padding: 66px 6px 80px;
  }
  .indentities__list::-webkit-scrollbar {
    display: none;
  }
}
.indentities__list_item {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s ease all;
}
.indentities__list_item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.indentities__list_item__text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(44, 44, 44, 0.65);
}
.indentities__list_item__text b {
  color: #000000;
  font-weight: 600;
}
.indentities__list_item .icon {
  width: 28px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.indentities_add .modal__body, .indentities_edit .modal__body {
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.indentities_delete .modal__body {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .indentities_delete .modal__body {
    color: #000000;
  }
  .indentities_delete .modal__body p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .responses {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: #FFFFFF;
  }
}
.responses__list {
  padding: 82px 10px 90px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media screen and (max-width: 992px) {
  .responses__list {
    height: 100svh;
    overflow-y: scroll;
    padding: 66px 8px 80px;
  }
  .responses__list::-webkit-scrollbar {
    display: none;
  }
}
.responses__list_item {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.responses__list_item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.responses__list_item__text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(44, 44, 44, 0.65);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.responses__list_item__text b {
  color: #000000;
  font-weight: 600;
}
.responses__list_item .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.responses_add .modal__body, .responses_edit .modal__body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.responses_delete .modal__body {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .responses_delete .modal__body {
    color: #000000;
  }
  .responses_delete .modal__body p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .security {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: #FFFFFF;
    z-index: 3;
  }
}
.security__form {
  padding: 92px 20px 100px;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .security__form {
    height: 100svh;
    overflow-y: scroll;
    padding: 76px 16px 90px;
  }
}
.security__form .form_inp {
  width: 300px;
}
@media screen and (max-width: 992px) {
  .security__form .form_inp {
    width: 100%;
  }
}
.security__form .form_inp .text-p7 {
  color: rgba(44, 44, 44, 0.65);
  margin-top: 2px;
}

@media screen and (max-width: 992px) {
  .filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: #FFFFFF;
    z-index: 3;
  }
}
.filters__list {
  padding: 82px 10px 90px;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
@media screen and (max-width: 992px) {
  .filters__list {
    height: 100svh;
    overflow-y: scroll;
    padding: 66px 6px 80px;
  }
  .filters__list::-webkit-scrollbar {
    display: none;
  }
}
.filters__list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.filters__list_item:hover {
  background: rgba(44, 44, 44, 0.05);
}
.filters__list_item__text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(44, 44, 44, 0.65);
}
.filters__list_item__text b {
  color: #000000;
  font-weight: 600;
}
.filters__list_item .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters_add .modal__body, .filters_edit .modal__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.filters_add .modal__body .form_dropdown label, .filters_edit .modal__body .form_dropdown label {
  margin-bottom: 6px;
  color: rgba(44, 44, 44, 0.65);
}
.filters_add .modal__body .form_dropdown input, .filters_edit .modal__body .form_dropdown input {
  color: #000000;
}
.filters_add .modal__body .form_rule, .filters_edit .modal__body .form_rule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filters_add .modal__body .form_rule__item, .filters_edit .modal__body .form_rule__item {
  border: 1px solid rgba(44, 44, 44, 0.15);
  border-radius: 14px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.filters_add .modal__body .form_rule__item_head, .filters_edit .modal__body .form_rule__item_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -6px;
}
.filters_add .modal__body .form_rule__item_head label, .filters_edit .modal__body .form_rule__item_head label {
  color: rgba(44, 44, 44, 0.65);
}
.filters_add .modal__body .form_rule__item_head button, .filters_edit .modal__body .form_rule__item_head button {
  color: #F83C3C;
}
.filters_delete .modal__body, .filters_delete_rule .modal__body {
  text-align: center;
}
.filters_delete .modal__body p, .filters_delete_rule .modal__body p {
  color: rgba(44, 44, 44, 0.65);
}
@media screen and (max-width: 768px) {
  .filters_delete .modal__body p, .filters_delete_rule .modal__body p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */