@import './global';
@import './normalize';

body {
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.text {
    &-h1 {
        font-size: 46px;
        line-height: 50px;
        font-weight: bold;
    }

    &-h2 {
        font-size: 38px;
        line-height: 42px;
        font-weight: bold;
    }

    &-h3 {
        font-size: 32px;
        line-height: 36px;
        font-weight: bold;
    }

    &-h4 {
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;
    }

    &-h5 {
        font-size: 22px;
        line-height: 26px;
        font-weight: bold;
    }

    &-h6 {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }

    &-p1 {
        font-size: 18px;
        line-height: 28px;
    }

    &-p2 {
        font-size: 18px;
        line-height: 22px;
    }

    &-p3 {
        font-size: 16px;
        line-height: 24px;
    }

    &-p4 {
        font-size: 16px;
        line-height: 20px;
    }

    &-p5 {
        font-size: 14px;
        line-height: 20px;
    }

    &-p6 {
        font-size: 12px;
        line-height: 16px;
    }

    &-p7 {
        font-size: 10px;
        line-height: 14px;
    }
}

.btn {
    &_blue {
        background: $color-active;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 10px 18px;
        border-radius: 10px;
        font-weight: 500;
        color: $color-bg;
        transition: .3s ease all;
        position: relative;
        overflow: hidden;
        z-index: 1;
        user-select: none;
        height: 40px;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: transparent;
        }

        &:hover {
            &::before {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        &:active {
            &::before {
                background: rgba(0, 0, 0, 0.2);
            }
        }

        &.disabled {
            pointer-events: none;
            background: $color-shade-4;
            color: $color-shade-4;
        }
    }

    &_red {
        background: $color-red;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 10px;
        width: 100%;
    }

    &_light {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid $color-shade-2;
        border-radius: 10px;
        height: 40px;
        background: $color-bg;
        transition: .3s ease all;
        color: #000;

        span {
            color: #000;
        }

        &:hover {
            background: $color-shade-1;
        }

        &:active {
            background: $color-shade-2;
            border-color: transparent;
        }

        &:disabled {
            background: $color-bg;
            border-color: rgba(44, 44, 44, 0.15);
            color: $color-shade-4;
            pointer-events: none;
            user-select: none;

            svg path {
                fill: $color-shade-4;
            }
        }
    }
}

.inp {
    &_light {
        background: $color-shade-1;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: $color-main;
        padding: 10px 14px;
        border: 1px solid transparent;
        border-radius: 10px;
        transition: .3s ease all;

        &:hover {
            border-color: $color-shade-2;
        }

        &:focus {
            background: $color-bg;
            border-color: $color-active;
            box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
        }

        &.error {
            border-color: $color-red;
            box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
        }


        &[type="password"] {
            
            &::placeholder {
                text-security: disc;
                -webkit-text-security: disc;
                font-size: 30px;
                color: $color-main;
                line-height: 0;
                transform: translateY(7px);
                letter-spacing: 10px;
            }
        }
    }
}

.form {
    &_inp {
        display: flex;
        flex-direction: column;

        label {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: $color-shade-4;

            span {
                color: $color-red;
            }
        }

        input {
            width: 100%;
            height: 40px;
            background: $color-shade-1;
            border-radius: 10px;
            margin: 6px 0 2px;
            border: 1px solid transparent;
            transition: .3s ease all;
            font-size: 14px;
            line-height: 20px;
            padding: 0px 14px;

            &:hover {
                border-color: $color-shade-2;
            }

            &:focus {
                border-color: $color-active;
                box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
                background: $color-bg;
            }
        }

        .error_text {
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.2px;
            color: $color-red;
            display: none;
        }

        &.error {
            input {
                border-color: $color-red;
                box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
            }

            .error_text {
                display: block;
            }
        }
    }

    &_radio {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &_text {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 8px;
        }

        img {
            width: 100%;
        }

        textarea {
            width: 100%;
            height: 177px;
            resize: none;
            background: $color-shade-1;
            padding: 12px 14px;
            font-size: 14px;
            line-height: 20px;
            color: $color-main;
            transition: .3s ease all;
            border: 1px solid $color-shade-1;

            &:hover {
                border-color: $color-shade-2;
            }

            &:focus {
                border-color: $color-active;
                background: $color-bg;
                box-shadow: 0 0 8px rgb(67, 151, 229, .2);
            }
        }
    }
}

.checkbox {
    user-select: none;
    cursor: pointer;
    display: flex;
    gap: 10px;

    &__icon {
        width: 18px;
        height: 18px;
        background: $color-shade-1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: .3s ease all;

        img {
            opacity: 0;
            transition: .3s ease all;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    &:hover {
        .checkbox__icon {
            background: $color-shade-2;
        }
    }
    
    &.active {
        .checkbox__icon {
            background: $color-active;

            img {
                opacity: 1;
            }
        }
    }

    &-1 {
        .icon {
            width: 42px;
            height: 26px;
            border-radius: 50px;
            background: $color-shade-1;
            position: relative;
            overflow: hidden;
            transition: .3s ease all;
            cursor: pointer;

            span {
                position: absolute;
                width: 22px;
                height: 22px;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                background: $color-bg;
                border-radius: 50%;
                transition: .3s ease all;
                box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06),0px 3px 8px 0px rgba(0, 0, 0, 0.15),0px 0px 0px 1px rgba(0, 0, 0, 0.04);
            }
        }

        input {
            display: none;
        }

        input:checked ~ .icon {
            background: $color-active;

            span {
                left: 18px;
            }
        }

        &.disabled {
            opacity: 0.5;
            user-select: none;
            pointer-events: none;
        }
    }
}

.dropdown {
    position: relative;

    &_inp {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        height: 40px;
        position: relative;
        transition: .3s ease all;
        
        input {
            border-radius: 10px;
            background: $color-shade-1;
            border: 1px solid transparent;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            cursor: pointer;
            padding-left: 14px;
            font-size: 14px;
            line-height: 20px;
            transition: .3s ease all;
            color: $color-main;
        }

        button {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            height: 28px;
            padding-left: 15px;
            border-left: 1px solid $color-shade-2;
        }

        &:hover {
            input {
                border-color: $color-shade-2;
            }
        }
    }

    &_list {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        transform: translateY(100%);
        background: $color-bg;
        border: 1px solid $color-shade-2;
        border-radius: 12px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        max-height: 178px;
        overflow-y: scroll;
        display: none;

        &::-webkit-scrollbar {
            width: 6px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: $color-shade-2; 
            border-radius: 10px;
        }

        &__item {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 10px 14px;
            border-radius: 8px;
            user-select: none;
            cursor: pointer;
            transition: .3s ease all;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;

            &:hover {
                background: $color-shade-1;
            }

            &:active {
                background: $color-shade-2;
            }

            &.checked {
                background: rgba(50, 108, 255, 0.1);
                
                &:hover {
                    background: rgba(50, 108, 255, 0.15);
                }
                
                &:active {
                    background: rgba(50, 108, 255, 0.2);
                }
            }
        }
    }

    &.error {
        .dropdown_inp {
            border-color: $color-red;
            box-shadow: 0 0 8px rgba(248, 60, 60, 0.2);
        }
    }

    &.active {
        z-index: 2;

        .dropdown {

            &_inp {
                input {
                    background: $color-bg;
                    border-color: $color-active;
                    box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
                }
            }

            @keyframes dropdownActive {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            &_list {
                display: flex;
                animation: .2s dropdownActive linear 1;
            }
        }
    }
    
    &.end-active {
        z-index: 2;

        @keyframes dropdownEndActive {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

        .dropdown_list {
            display: flex;
            opacity: 0;
            animation: .2s dropdownEndActive linear 1;
        }
    }

    &_radio{
        display: flex;
        flex-direction: column;
        gap: 2px;
    
        &__item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 10px;
            border-radius: 8px;
            user-select: none;
            cursor: pointer;
            position: relative;
            font-weight: 600;

            input {
                display: none;
            }
    
            .icon {
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                background: $color-shade-1;
                border-radius: 50%;
                position: relative;
    
                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $color-active;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                }
            }
    
            &:hover {
                background: $color-shade-1;
            }

            &:active {
                background: $color-shade-2;
            }

            &.checked {
                background: rgba(50, 108, 255, 0.1);
                
                &:hover {
                    background: rgba(50, 108, 255, 0.15);
                }
                
                &:active {
                    background: rgba(50, 108, 255, 0.2);
                }

                span {
                    border: 2px solid $color-active;

                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
} 

.search {
    width: 417px;
    position: relative;

    @include media(1400) {
        width: 300px;
    }

    @include media(1250) {
        width: 417px;
    }
    
    @include media(992) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: $color-bg;
        display: none;
    }

    &_inp {
        position: relative;
        z-index: 1;
        background: $color-shade-1;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 10px;
        transition: .3s ease all;

        .icon {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);

            @include media(992) {
                top: 0;
                left: 0;
                transform: translateY(0);
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        button:last-child {
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 60px;

            @include media(992) {
                display: flex
            }
        }

        input {
            height: 40px;
            padding: 0px 10px 0px 40px;
            width: 100%;
            font-size: 14px;
            line-height: 20px;

            @include media(992) {
                height: 60px;
                padding: 0px 60px;
            }
        }

        &:hover {
            border-color: $color-shade-2;
        }

        @include media(992) {
            border-radius: 0;
            background: $color-bg;
            border: 0;
            border-bottom: 1px solid $color-shade-2;
        }
    }

    &_result {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        transform: translateY(100%);
        background: $color-bg;
        border: 1px solid $color-shade-2;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(14, 28, 79, 0.05);
        display: none;

        @include media(992) {
            top: 60px;
            left: 0;
            transform: translate(0);
            padding: 16px;
            border: 0;
            border-radius: 0;
            display: block;
        }

        &__settings {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 14px;

            li {
                user-select: none;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include media(992) {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    gap: 8px;
                }
            }
        }

        &__dropdowns {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 14px;

            label {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 6px;
                color: $color-shade-4;

                @include media(-992) {
                    display: none !important;
                }
            }
        }

        &__bottom {

            @include media(992) {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 73px;
                width: 100%;
                padding: 14px 16px 0;
                border-top: 1px solid $color-shade-2;
            }

            button {
                width: 100%;
                font-weight: 600;
            }
        }
    }

    @include media(-992) {
        &.active {
            .search {
                &_inp {
                    background: $color-bg;
                    border-color: $color-active;
                    box-shadow: 0 0 8px rgba(67, 151, 229, 0.2);
                }
    
                @keyframes searchResult {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
    
                &_result {
                    display: block;
                    animation: .2s searchResult linear 1;
                }
            }
        }
    
        &.end-active {
            @keyframes searchResultEnd {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
    
            .search_result {
                display: block;
                opacity: 0;
                animation: .2s searchResultEnd linear 1;
            }
        }
    }

    @include media(992) {
        @keyframes searchActive {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        &.active {
            display: block;
            animation: searchActive .2s linear 1;
        }

        @keyframes searchEndActive {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

        &.end-active {
            display: block;
            opacity: 0;
            animation: searchEndActive .2s linear 1;
        }
    }
}

.data__empty {
    height: calc(100svh - 152px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include media(992) {
        height: 100%;
    }

    img {
        width: 126px;
    }

    p {
        color: $color-shade-4;
        font-weight: 600;
    }
}

.nav {
    &_head {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: $color-bg;
        border-bottom: 1px solid $color-shade-2;

        @include media(-992) {
            display: none !important;
        }

        a {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &_foot {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        border-top: 1px solid $color-shade-2;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        background: $color-bg;
        padding: 0px 16px;

        @include media(992) {
            height: 73px;
        }

        button {
            font-weight: 600;

            @include media(992) {
                width: 100%;
            }
        }
    }
}

@import './block/header';
@import './block/leftNav';
@import './block/footer';
@import './block/home';
@import './block/inbox';
@import './block/modals';
@import './block/preference';
@import './block/contacts';
@import './block/folders';
@import './block/indentities';
@import './block/responses';
@import './block/security';
@import './block/filters';
@import './block/mail';
@import './block/compose';