.compose {
    min-height: 100svh;
    padding: 72px 20px 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @include media(992) {
        flex-direction: column;
        gap: 14px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        background: $color-bg;
        z-index: 3;
        padding: 76px 16px 0;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $color-shade-2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
        background: $color-bg;

        @include media(-992) {
            display: none !important;
        }

        a, button {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__left {
        width: 100%;

        #toolbar-container {
            border-radius: 10px 10px 0 0;

            @include media(992) {
                display: none;
            }
        }

        #text-editor {
            background: $color-shade-1;
            border: 0;
            border-radius: 0 0 10px 10px;
        }

        .toolbar {

            &__dropdown {
                position: relative;
                z-index: 2;

                &_btn {
                    min-width: 50px;
                    height: 34px;
                    align-items: center;
                    justify-content: center;
                }

                &_list {
                    position: absolute;
                    bottom: 5px;
                    background: $color-bg !important;
                    border-radius: 12px;
                    width: 140px;
                    right: 10px;
                    display: none;
                    flex-direction: column;
                    gap: 2px;
                    padding: 6px;
                    transform: translateY(100%);
                    border: 1px solid $color-shade-2;

                    li {
                        width: 100%;
                        position: relative;

                        &:hover {
                            .toolbar__dropdown_list__child {
                                display: flex;

                                &_btn {
                                    background: $color-shade-1;
                                }
                            }
                        }
                    }
                    
                    button {
                        min-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between !important;
                        text-align: left;
                        padding: 10px 10px 10px 14px;
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 600;
                        transition: .3s ease all;

                        &:hover {
                            background: $color-shade-1;
                        }
                    }

                    &__child {
                        position: absolute;
                        left: -8px;
                        background: $color-bg;
                        border: 1px solid $color-shade-2;
                        border-radius: 12px;
                        padding: 6px;
                        width: 140px;
                        top: 0;
                        transform: translateX(-100%);
                        display: none;
                        flex-direction: column;
                        gap: 2px;
                    }
                }

                &:hover {
                    .toolbar__dropdown_list {
                        display: flex;
                    }
                }
            }

            &__head {
                display: none;
                border: 1px solid $color-shade-2;
                border-radius: 10px 10px 0 0;

                @include media(-992) {
                    display: none !important;
                }
                
                &_content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    &__left {
                        display: flex;
                        align-items: center;
    
                        .btns {
                            display: flex;
                            align-items: center;
                            border-left: 1px solid $color-shade-2;
                            border-right: 1px solid $color-shade-2;
    
                            button {
                                svg {
                                    width: 20px;
                                    transform: rotateZ(180deg);
                                }
    
                                &:nth-child(1) {
                                    transform: rotateY(180deg);
                                }
                            }
                        }
    
                        button {
                            width: 30px;
                            height: 34px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            img {
                                width: 25px;
                            }
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        padding-left: 10px;
                        color: $color-shade-4;
                    }
                }

                &.active {
                    display: flex;

                    .toolbar__open {
                        display: none;
                    }
                }

            }

            &__open {
                width: 100%;
                display: flex;

                img {
                    width: 100%;
                }
            }
        }

        .btn_blue {
            width: 100%;
            margin-top: 20px;

            @include media(992) {
                display: none;
            }
        }

        .blue_links {
            color: $color-active;
            display: flex;
            gap: 20px;
            align-items: center;

            @include media(-992) {
                display: none !important;
            }
        }
    }

    &_nav {
        display: flex;
        align-items: center;
        padding: 10px 0px 5px;
        margin-bottom: 10px;

        @include media(992) {
            display: none;
        }

        a {
            padding: 7px 12px;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
        }

        .link_dropdown {
            &__btn {
                padding: 7px 12px;
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 20px;

        @include media(992) {
            margin-bottom: 14px;
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 30px;

            @include media(992) {
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }

            .text-p5 {
                width: 70px;
                flex-shrink: 0;

                @include media(992) {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .form_inp {
                width: 100%;
            }

            &__right {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 14px;

                .dropdown {
                    width: 249px;
                    z-index: 2;

                    @include media(992) {
                        width: 100%;
                    }
                }

                .btn_light {
                    padding: 0 18px;

                    @include media(992) {
                        display: none;
                    }
                }
            }
        }
    }

    .send_to {
        width: 100%;
        background: $color-shade-1;
        border-radius: 10px;
        position: relative;
        padding: 4px;
        min-height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        z-index: 1;

        @include media(992) {
            padding: 6px;
        }


        label {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: -1;
        }

        input {
            height: 32px;
            font-size: 14px;
            line-height: 20px;
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;

            @include media(992) {
                width: 100%;
            }

            li {
                background: $color-bg;
                border-radius: 6px;
                padding: 6px 0 6px 12px;
                display: flex;
                align-items: center;
                border: 1px solid $color-shade-2;
                font-size: 14px;
                line-height: 20px;

                @include media(992) {
                    width: 100%;
                    position: relative;
                }

                .line {
                    width: 1px;
                    height: 20px;
                    background: $color-shade-2;
                    margin-left: 12px;

                    @include media(992) {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                button {
                    width: 28px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include media (992) {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .choose_account {
            position: absolute;
            bottom: 6px;
            right: 42px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media(992) {
                display: none;
            }
        }

        .plus_icon {
            position: absolute;
            bottom: 6px;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media(992) {
                display: none;
            }
        }
    }

    #text-editor {
        height: 446px;

        @include media(992) {
            height: 276px;
        }
    }

    .ql-editor.ql-blank::before {
        font-style: normal;
    }

    &__right {
        width: 290px;
        flex-shrink: 0;
        padding: 21px 0 20px;

        @include media(992) {
            width: 100%;
            padding: 0;
        }

        &_card {
            border-radius: 12px;
            border: 1px solid $color-shade-2;
            padding: 16px;

            @include media(992) {
                border: 0;
                padding: 0;
            }
        }

        .form_radio {
            justify-content: space-between;
            gap: 10px;

            p {
                color: $color-shade-4;
            }
        }

        .dropdown_wrap {
            display: flex;
            flex-direction: column;
            gap: 4px;
            
            p {
                color: $color-shade-4;
            }
        }

        .top_card {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 10px;

            @include media (992) {
                display: none;
            }
        }

        .bottom_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @include media(992) {
                gap: 8px;
            }

            input[type="file"] {
                display: none;
            }

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                gap: 10px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                border-radius: 10px;
                border: 1px solid $color-shade-2;
                user-select: none;
                cursor: pointer;
                width: 100%;

                @include media(992) {
                    display: none;
                }
            }

            .choose_img {
                @include media(992) {
                    display: none;
                }
            }
            
            .text {
                text-align: center;
                color: $color-shade-4;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                @include media(992) {
                    display: none;
                }
            }

            .images {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;

                a {
                    border-radius: 10px;
                    border: 1px solid $color-shade-2;
                    padding: 8px 14px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.2px;

                    .icon {
                        flex-shrink: 0;
                        width: 35px;
                        height: 20px;
                        border-radius: 4px;
                        background: $color-active;
                        color: #fff;
                        font-size: 10px;
                        line-height: 14px;
                        font-weight: 600;
                        letter-spacing: 0.2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &__text {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 45px);

                    &_name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__foot {
        display: flex;
        width: calc(100% + 32px);
        margin-left: -16px;
        border-top: 1px solid $color-shade-2;
        padding: 14px 16px 19px;

        button {
            width: 100%;
        }
    }
}